.container {
    max-width: 680px;
    margin: 0 auto;
}

.header_inputs {
    display: flex;
    justify-content: center;
}

.everyone {
    display: flex;
    justify-content: space-around;
}

td,
th {
    padding: 5px;
    border: 1px solid black;
}

p {
    margin: 0;
}